@model GroundElevation.Models.HomeViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style>
    .coordsForm {
        
        background-color: aliceblue;
        background: rgba(0, 255, 144, 0.2);
        text-align: center;
        border-radius:10px;
        border-style:groove;
    }
    .textBox {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        text-align:center;
    }
    .viewButton {

    }
</style>
@Html.Partial("_Map", Model)
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
<div class="form-group">
    @Html.HiddenFor(model => model.StartCoords, new { htmlAttributes = new { @class = "form-control textBox" } })
    @Html.HiddenFor(model => model.FinishCoords, new { htmlAttributes = new { @class = "form-control textBox" } })

    <div class="col-md-3 coordsForm">

        <label class="control-label">Tree-line Height</label>
        @Html.EditorFor(model => model.GroundClearanceRequired, new { htmlAttributes = new { @class = "form-control textBox" } })
        @Html.ValidationMessageFor(model => model.GroundClearanceRequired, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-3 coordsForm">

        <label class="control-label">Nearby Obstacle Distance</label>
        @Html.EditorFor(model => model.OstacleDistance, new { htmlAttributes = new { @class = "form-control textBox" } })
        @Html.ValidationMessageFor(model => model.OstacleDistance, "", new { @class = "text-danger" })
    </div>
    <div class="col-md-3 coordsForm">

        <label class="control-label">Nearby Obstacle Height</label>
        @Html.EditorFor(model => model.ObstacleHeight, new { htmlAttributes = new { @class = "form-control textBox" } })
        @Html.ValidationMessageFor(model => model.ObstacleHeight, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-3 coordsForm">
        <label class="control-label">View Detailed Elevation</label>
        <input type="submit" value="View" class="btn btn-default viewButton form-control textBox" />
    </div>
</div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
